.root {
	padding: 16px 25px 16px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	background: #282828;
	box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
	border-radius: 40px;
	height: auto;
	transition: height .2s ease;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	gap: 14px;
}

.indicator {
	display: flex;
	width: 5px;
	border-radius: 3px;
	background: #A9A9A9;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
}
