.root {
	display: flex;
	flex-direction: row;
	min-height: 48px;
	max-height: 48px;
	height: 100%;
	width: 100%;
	gap: 14px;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.indicator {
	display: flex;
	width: 5px;
	border-radius: 3px;
	background: #A9A9A9;
}

.indicator_active {
	background: green;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 180px;
	width: 100%;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
}

.title_completed {
	text-decoration: line-through;
}

.description {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.6);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
